.activity-list {
  display: flex;
  flex-direction: column;
  .row {
    height: 3.7vw;
    background-color: #2299bb;
    border-top: 1px solid #e2e2e2;
  }
  h2 {
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 2.5vw;
    color: #004196;
    margin: 0;
    padding: 2vw 0 1.5vw 1vw;
  }
  .table {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 1vw;
    .caption {
      font-weight: bold;
      border-top: 1px solid #e2e2e2;
    }
    .document-list {
      cursor: pointer;
    }
    .table-data {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #e2e2e2;
      padding: 1vw;
      &:nth-child(even) {
        background-color: rgb(252, 252, 252);
      }
      span {
        display: flex;
        align-items: center;
        i {
          color: #cecece;
          padding: 0 1.2vw 0 0.33vw;
        }
        .filter-buttons {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 0 1.1vw 0 0.3vw;
          cursor: pointer;
          i {
            color: #898989;
          }
        }
      }
      button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        i {
          color: #000000;
        }
      }
      .status {
        width: 7%;
        justify-content: center;
        i {
          font-size: 1.5vw;
        }
        .fa-question-circle{
          font-size: 1vw;
        }
        .yellow {
          color: #ff9700;
        }
        .green{
          color: #009688;
        }
        .fa-exclamation-circle{
          color: #f44336;
        }
        .fa-pencil-alt{
          color: #008f80;
        }
      }
      .document-title {
        width: 17%;
      }
      .check-date {
        width: 12%;
      }
      .inception-date {
        width: 14%;
      }
      .market {
        width: 8%;
      }
      .class-of-business {
        width: 16%;
      }
      .exposure-country {
        width: 16%;
      }
      .tax-country {
        width: 12%;
      }
      .broker {
        width: 10%;
        .filter-buttons {
          padding-left: 2vw;
        }
      }
    }
  }
}
