<div class="activity-list" *ngIf="path === '/activity-list'">
  <div class="row"></div>
  <h2>Activity List</h2>
  <div class="table">
    <div class="table-data caption">
        <span *ngFor="let tableHeader of tableHeaders" [className]="tableHeader.class" [ngStyle]="tableHeader.isActive ? {'color': '#008f80'} : null">
          {{tableHeader.text}}
          <i *ngIf="tableHeader.iconClass" [className]="tableHeader.iconClass"></i>
          <div class="filter-buttons" *ngIf="tableHeader.filter">
            <i class="fas fa-angle-up" (click)="sort('ascending', tableHeader.sortField)" [ngStyle]="tableHeader.isAscending ? {'color': '#008f80'} : null"></i>
            <i class="fas fa-angle-down" (click)="sort('descending', tableHeader.sortField)" [ngStyle]="tableHeader.isDescending ? {'color': '#008f80'} : null"></i>
          </div>
        </span>
    </div>
    <div class="table-data document-list" (click)="goToRiskData(document['id'])" *ngFor="let document of filteredDocuments">
      <i class="fas fa-badge-check"></i>
      <span class="status">
          <i class="{{document['status']}}"></i>
        </span>
      <span class="document-title">{{document['documentTitle']}}</span>
      <span class="check-date">{{document['checkDate']}}</span>
      <span class="inception-date">{{document['inceptionDate']}}</span>
      <span class="market">{{document['market']}}</span>
      <span class="class-of-business">{{document['classOfBusiness']}}</span>
      <span class="exposure-country">{{document['exposureCountry']}}</span>
      <span class="tax-country">{{document['taxCountry']}}</span>
      <span class="broker">{{document['broker']}}</span>
      <button>
        <i class="fas fa-ellipsis-v"></i>
      </button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
