.detailed-info {
  display: flex;
  flex-direction: row;
  background-color: #fcfcfc;
  .component-and-nav{
    width: 35%;
    display: flex;
    flex-direction: column;
    border: 1px solid #e2e2e2;
    background-color: #ffffff;
    .nav {
      display: flex;
      height: 100%;
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-around;
      background-color: #ffffff;
     /* position: fixed;
      bottom: 0;*/
      .nav-button {
        display: flex;
        width: 8vw;
        height: 8vw;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #005ca5;
        cursor: pointer;
        border: 1px solid #e2e2e2;
        background-color: #fcfcfc;
        i {
          display: flex;
          justify-content: center;
          align-items: center;
          border: 2px solid;
          border-radius: 100%;
          height: 4vw;
          width: 4vw;
          font-size: 2vw;
        }
        span {
          text-align: center;
          padding: 0.5vw;
          font-family: sans-serif;
          font-size: 1.1vw;
          font-weight: bold;
          width: 6vw;
        }
      }
      .active-background {
        background-color: #005ca5;
        color: #fcfcfc;
        i {
          background-color: #fcfcfc;
          color: #005ca5;
        }
      }
    }
  }
  .detailed-data-document {
    width: 65%;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2;
  }
  .caption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.7vw;
    background-color: #005ca5;
    color: #f9fbfd;
    padding: 0 1vw 0 1vw;
    h3 {
      margin: 0;
      font-family: sans-serif;
      font-size: 1.5vw;
    }
    i {
      font-size: 1.5vw;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #005ca5;
      background-color: #f9fbfd;
      width: 2.5vw;
      height: 2.5vw;
      border-radius: 2vw;
      cursor: pointer;
    }
  }
}

