<div class="detailed-info" style="height: 100%">
  <div class="component-and-nav">
    <router-outlet></router-outlet>
    <div class="nav">
      <div class="nav-button" (click)="goToRiskData()" [ngClass]="path === riskDataPath ? 'active-background' : null">
        <i class="fas fa-file-signature"></i>
        <span>Risk Data</span>
      </div>
      <div class="nav-button" (click)="goToCheckData()" [ngClass]="path === checkDataPath ? 'active-background' : null">
        <i class="fas fa-tasks"></i>
        <span>Check Data</span>
      </div>
      <div class="nav-button" (click)="goToFollowers()" [ngClass]="path === followersPath ? 'active-background' : null">
        <i class="fas fa-user-edit"></i>
        <span>Followers</span>
      </div>
      <div class="nav-button" (click)="goToShare()" [ngClass]="path === sharePath ? 'active-background' : null">
        <i class="fas fa-share-alt"></i>
        <span>Share Data</span>
      </div>
    </div>
  </div>
  <div class="detailed-data-document">
    <div class="caption">
      <h3>Sample Market Reform Contract - 15/05/2019</h3>
      <i class="fas fa-expand"></i>
    </div>
    <div class="document"></div>
  </div>
</div>


