header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 5vw;
  background-color: #00457c;
  color: #005190;
  font-family: sans-serif;
  font-size: 6.8vw;
  font-weight: bold;
  padding-right: 1.5vw;
}
.nav-and-component {
  display: flex;
  height: 100%;
  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fcfcfc;
    border-right: 1px solid #e2e2e2;
    h3 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 3.7vw;
      margin: 0;
      width: 100%;
      color: #ffffff;
      background-color: #2299bb;
      font-family: sans-serif;
      font-size: 1.5vw;
      border-top: 1px solid #e2e2e2;
    }
    .nav-button {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #2299bb;
      padding: 2vw 0 0 0;
      cursor: pointer;
      i {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid;
        border-radius: 100%;
        height: 4vw;
        width: 4vw;
        font-size: 2vw;
      }
      span {
        text-align: center;
        padding: 0.5vw;
        font-family: sans-serif;
        font-size: 1.2vw;
        font-weight: bold;
        width: 6vw;
      }
    }
  }
  .component {
    width: 100%;
  }
}
