<header>IMAGEFAST</header>
<div class="nav-and-component">
  <div class="nav">
    <h3 [ngClass]="path !== '/activity-list' ? 'border' : null">Hub</h3>
    <div (click)="goToActivityList()" class="nav-button">
      <i class="fas fa-list-ul"></i>
      <span>Activity List</span>
    </div>
    <div (click)="goToAlerts() "class="nav-button">
      <i class="fas fa-comment"></i>
      <span>Alerts</span>
    </div>
    <div (click)="goToRiskMatch()" class="nav-button">
      <i class="fas fa-user-shield"></i>
      <span>Risk Match</span>
    </div>
    <div (click)="goToProfile()" class="nav-button">
      <i class="fas fa-user"></i>
      <span>Profile</span>
    </div>
  </div>
  <div class="component">
    <router-outlet></router-outlet>
  </div>
</div>
