.caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.7vw;
  background-color: #005ca5;
  color: #f9fbfd;
  padding: 0 1vw 0 1vw;
  h3 {
    margin: 0;
    font-family: sans-serif;
    font-size: 1.5vw;
  }
  i {
    font-size: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #005ca5;
    background-color: #f9fbfd;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 2vw;
    cursor: pointer;
  }
}
.detail-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1vw 1vw 1vw 1vw;
  border-bottom: 1px solid #e2e2e2;
  span {
    font-size: 1.3vw;
    font-weight: lighter;
    font-family: sans-serif;
  }
  .bold {
    font-weight: bold;
  }
}

