  <div class="caption">
    <h3>Risk Data</h3>
    <i class="fas fa-expand"></i>
  </div>
  <div class="detail-info">
    <span class="bold">Lead Carrier</span>
    <span>XL Catlin Underwriting Agencies Ltd</span>
  </div>
  <div class="detail-info">
    <span class="bold">Underwriter</span>
    <span>Riccardo Emanuele</span>
  </div>
  <div class="detail-info">
    <span class="bold">Insurance Type</span>
    <span>Direct</span>
  </div>
  <div class="detail-info">
    <span class="bold">PBQA Check Date</span>
    <span>15/05/2019</span>
  </div>
  <div class="detail-info">
    <span class="bold">Market</span>
    <span>Non-Marine</span>
  </div>
  <div class="detail-info">
    <span class="bold">Class of Business</span>
    <span>All Risks / Property</span>
  </div>
  <div class="detail-info">
    <span class="bold">Exposure Country</span>
    <span>Australia</span>
  </div>
  <div class="detail-info">
    <span class="bold">Tax Country</span>
    <span>New Zealand</span>
  </div>
  <div class="detail-info">
    <span class="bold">File Name</span>
    <span>SampleContract.pdf</span>
  </div>


