<div class="caption">
  <h3>Pre-Bind Quality Assurance Checks</h3>
  <i class="fas fa-expand"></i>
</div>
<div class="detail-info">
  <span>Display results with comments only</span>
  <div class="toggles">
    <input type="checkbox" id="checkbox1" class="ios-toggle" checked/>
    <label for="checkbox1" class="checkbox-label"></label>
  </div>
  <i></i>
</div>





