.caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.7vw;
  background-color: #005ca5;
  color: #f9fbfd;
  padding: 0 1vw 0 1vw;
  h3 {
    margin: 0;
    font-family: sans-serif;
    font-size: 1.5vw;
  }
  i {
    font-size: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #005ca5;
    background-color: #f9fbfd;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 2vw;
    cursor: pointer;
  }
}
.detail-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2vw 0vw 2vw 1vw;
  border-bottom: 1px solid #e2e2e2;
  span {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 1.3vw;
  }
  .toggles{
    width: 43px;
    padding-left: 3vw;
    *,*:before,*:after{
      box-sizing:border-box;
    }
    .ios-toggle,.ios-toggle:active{
      opacity: 0;
      position: absolute;
    }
    .checkbox-label{
      display: block;
      position: relative;
      height: 22px;
      border-radius: 18px;
      cursor: pointer;
    }
    .checkbox-label:before{
      content: "";
      position: absolute;
      height: 22px;
      width: 22px;
      border-radius: 100%;
      background: white;
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 0 0 2px #dddddd;
    }
    .ios-toggle:checked + .checkbox-label:before{
      left:calc(100% - 24px);
      -webkit-box-shadow:0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
      -moz-box-shadow:0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
      box-shadow:0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
    }
    #checkbox1 + .checkbox-label{
      -webkit-box-shadow:inset 0 0 0 0 #2299bb,0 0 0 2px #dddddd;
      -moz-box-shadow:inset 0 0 0 0 #2299bb,0 0 0 2px #dddddd;
      box-shadow:inset 0 0 0 0 #2299bb,0 0 0 2px #dddddd;
    }
    #checkbox1:checked + .checkbox-label{
      -webkit-box-shadow:inset 0 0 0 18px #2299bb,0 0 0 2px #2299bb;
      -moz-box-shadow:inset 0 0 0 18px #2299bb,0 0 0 2px #2299bb;
      box-shadow:inset 0 0 0 18px #2299bb,0 0 0 2px #2299bb;
    }
  }
}






